<%- include ../header/headerBack.ejs%>
<div class="page-wrapper">
    <div class="page-container">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                                <div class="row">
                                        <div class="col-md-4">
                                                <div class="form-group">
                                                        Filtro por Día:
                                                        <div class="input-group">
                                                            <input type="number" name="dia" id="dia" placeholder="Ingresa un día (numerico)" class="form-control" >
                                                            <div class="input-group-addon">
                                                                    <a class="fa fa-search" href="#"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                        </div>
                                        <div class="col-md-4">
                                                <div class="form-group">
                                                        Filtro por Mes:
                                                        <div class="input-group">
                                                            <input type="number" name="mes" id="mes" placeholder="Ingresa un mes(Numerico)" class="form-control" >
                                                            <div class="input-group-addon">
                                                                    <i class="fa fa-search"></i>
                                                                </div>
                                                        </div>
                                                    </div>
                                        </div>
                                        <div class="col-md-4">
                                                <div class="form-group">
                                                        Filtro por Año:
                                                        <div class="input-group">
                                                            <input type="number" name="año" id="año" placeholder="Ingresa un año" class="form-control" >
                                                            <div class="input-group-addon">
                                                                    <i class="fa fa-search"></i>
                                                                </div>
                                                        </div>
                                                    </div>
                                        </div>
                                    </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="buscar" id="buscar" placeholder="Buscar" class="form-control" >
                                            <div class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!-- DATA TABLE -->
                            <div class="table-responsive table-responsive-data2">
                                <table id="myTable" class="table table-data2">
                                    <thead>
                                        <tr>
                                            <th>nombre_cliente</th>
                                            <th>fecha</th>
                                            <th>email</th>
                                            <th>monto</th>
                                            <th>articulos</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i < ventas.length; i++){ %>
                                            <tr class="spacer tr-shadow" id='row<%= ventas[i].id_venta %>'>
                                                <td><%= ventas[i].nombre_cliente %></td>
                                                <td><%= ventas[i].fecha %></td>
                                                <td><%= ventas[i].email %></td>
                                                <td><%= ventas[i].monto %></td>
                                                <td><%= ventas[i].articulos %></td>
                                                <td></td>
                                                <!--seccion botones-->
                                                <td>
                                                </td>
                                                <td>
                                                    <button onclick="eliminarVenta('<%= ventas[i].id_venta %>');"  class="btn  btn-xs btn-danger">Eliminar</button>
                                                </td>
                                            </tr>
                                            <tr class="spacer"  id='row2<%= ventas[i].id_venta %>'></tr>
                                        <% }%>
                                    </tbody>
                                </table>
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JS para eliminar libro-->
<script>
    // do Filter on View
	$("#buscar").on("keyup", function() {
	    var inputValue = $(this).val().toLowerCase();
	    $("#myTable tr").filter(function() {
	    	$(this).toggle($(this).text().toLowerCase().indexOf(inputValue) > -1)
	    });
	});
</script>
<script src="../javascripts/venta.js"></script>
<%- include ../footer/footerBack.ejs%>