<%- include ../header/headerBack.ejs%>
<div class="page-container">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <h2>Modificar Libro</h2>

                <div class="container-fluid">
                    <form action="/libros/modificarLibro" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="<%= libro.id_libro%>">
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        Nombre libro
                                        <div class="input-group">
                                            <input type="text" name="nombre" id="nombre" placeholder="Nombre libro" value="<%= libro.nombre %>" class="form-control" >
                                            <div class="input-group-addon">
                                                <i class="fa fa-book"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        Autor
                                        <div class="input-group">
                                                <input type="text" name="autor" id="autor" placeholder="Autor" value="<%= libro.autor %>" class="form-control" >
                                            <div class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        Precio
                                        <div class="input-group">
                                            <input type="number" name="precio" id="precio" placeholder="Precio" value="<%= libro.precio %>" class="form-control" >
                                            <div class="input-group-addon">
                                                <i class="fa fa-dollar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        Tecnologia
                                        <div class="input-group">
                                            <input type="text" name="tecnologia" id="tecnologia" placeholder="Tecnología" value="<%= libro.tecnologia %>" class="form-control" >
                                            <div class="input-group-addon">
                                                <i class="fa fa-desktop"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        Status
                                        <div class="input-group">
                                            <select name="status" id="status" class="form-control">
                                                <% if(libro.status == 1){ %>
                                                    <option value="1" selected>Disponible</option>
                                                    <option value="0">No disponible</option>
                                                <% } else{ %>  
                                                    <option value="1">Disponible</option>
                                                    <option value="0" selected>No disponible</option>
                                                <% } %>
                                            </select>
                                            <div class="input-group-addon">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    Imagen
                                    <div class="input-group">
                                        <input type="file" class="form-control-file" id="imagen" name="imagen">
                                    </div>
                                </div>
                                <div class="form-group">
                                    Descripcion
                                    
                                    <div class="input-group-addon">
                                        <textarea class="form-control" name="descripcion" id="descripcion" rows="10" ><%= libro.descripcion %></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-lg-6">
                                <button type="submit" class="au-btn au-btn--block au-btn--green m-b-20">Modificar Libro</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<%- include ../footer/footerBack.ejs%>