<%- include header/headerFront.ejs%>
    <% if (cart.length!=0){%>
        <div class="row">
            <div class="col-md-12" style="padding-left: 10%;padding-right: 10%;">
                <br>
                <p>items:<%=cart.length%></p>
                <br>
                <p>concepto: <%=concepto%></p>
                <br>
                <p>precio: <%=total%></p>
                <br>
                <strong>los artículos comprados serán enviados al correo con el que pagues en paypal.</strong>
                <br>
                <table class="table">
              <tr>
                <th>nombre</th>
                <th>tecnología</th> 
                <th>autor</th>
                <th>precio</th>
                <th>estado</th>
                <th></th>
              </tr>
              <% for(var i=0; i < cart.length; i++){ %>
              <%if(cart[i].estado=="activo"){%>
              <tr>
                <td><%= cart[i].nombre%></td>
                <td><%= cart[i].tecnologia%></td> 
                <td><%= cart[i].autor%></td>
                <td><%= cart[i].precio%></td>
                <td><%= cart[i].estado%></td>
                <td>
                    <form method="post" action="CarritoCompras">
                        <input type="hidden" name="id_libro" value=<%=cart[i].id_libro%>>
                        <input type="hidden" name="accion" value="eliminar">
                        <button class="btn btn-danger">Eliminar del carrito</button>        
                    </form>
                </td>
              </tr>
              <%}%>
              <%}%>
            </table>    
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="/pay" class="btn btn-success btn-block" >Pagar </a>
            </div>
          
        </div>
        <br>
    <%}else{%>
    <h1 style="color:black;"></h1>
    <div class="row">
    <br>
    <br>
        <div class="col-md-3"></div>
        <div class="col-md-9">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img src="../images/carritovacio.png">
        </div>
        <div class="col-md-1"></div>
    </div>

    
    
    <%}%>
<footer>
    <%- include footer/footerFront.ejs%>    
</footer>
