<%- include header/headerFront.ejs%>
<section id="portfolio">
        
    <div class="container">
                    <div class="row" style="border:5cm">
                            
                <!-- our-team -->
    <% for(var i=0; i < libros.length; i++){ %>
        <div style="border: mediumspringgreen">
        <div class="col-md-4 col-md-6" >
                    <h2 style="text-align: center;  font-size: 20pt; color: #149196; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                        Libro: <%= libros[i].nombre %>
                    </h2>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <img alt="Bootstrap Image Preview" src="../images/<%= libros[i].imagen %>" />
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div> 
                    <address style="text-align: center">
                         <strong >Autor: <%= libros[i].autor %></strong><br /> Tecnología: <%= libros[i].tecnologia %><br /><br>
                         <img src="../images/circulo.png">&nbsp;&nbsp; <% if(libros[i].status == 1){ %>
                            Disponible
                        <% } else{ %>  
                            No disponible
                        <% } %>
                    </address>
                    <div style="text-align: center; font-size: 30pt; color: #149196; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" >$<%= libros[i].precio %></div>
                    <br>
                    <div>
                        <p><%= libros[i].descripcion %></p>
                    </div>
                    
                    <button type="submit" class="btn btn-success btn-block btn-md" style="background-color:#C52D2F; border-color: #C52D2F" >
                        Agregar Carrito
                    </button> 

                    <a href="/ComentarioLibro/<%= libros[i].id_libro %>" class="btn btn-success btn-block" style="background-color:#C52D2F; border-color: #C52D2F">Comentarios </a>
            </div>
            </div>
    <% }%>
</div>   
</div>    
</section><!--/#portfolio-item-->

<%- include footer/footerFront.ejs%>
