<%- include header/headerFront.ejs%>
<section id="portfolio">
        <div class="container">
        <div class="team">
                    <div class="row clearfix">
                    <% for(var i=0; i < libros.length; i++){ %>
                        <div class="col-md-4 col-sm-6">	
                                <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" style="height: 100px; height: 300px;">
                                    <div class="media">
                                        <div class="pull-left" item-width="100px">
                                            <img class="media-object" src="images/<%= libros[i].imagen %>" alt="Libros" style="width: 200px;">
                                        </div>
                                        <div class="media-body"></div>
                                            <h4 style="text-align: center"><%= libros[i].nombre %></h4>
                                            <ul class="social_icons">
                                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li> 
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                        </div>
                                        <br>
                                        <p style="text-align: center"><%= libros[i].descripcion %></p>
                                </div><!--/.media -->
                        </div>
                    <% }%>
                </div><!--/.col-lg-4 -->
                </div>
        </div>
        </div>
        
</section><!--/#portfolio-item-->

<%- include footer/footerFront.ejs%>