<%- include header/headerFront.ejs%>
<section id="portfolio">
        <div class="container">
            <div class="center">
                <h2><%= titulo %></h2>
            </div>

            <div class="row">
           
                <div class="portfolio-items">
                    <% for(var i=0; i < libros.length; i++){ %>
                    
                    <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="responsive"  src="images/<%= libros[i].imagen %>"  alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><%= libros[i].nombre %></h3>
                                    <p><%= libros[i].descripcion %></p>
                                    <a class="preview" href="#" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver imagen</a>
                                </div>
                            </div>
                        </div>
                        <h2 style="text-align:center">Precio: <%= libros[i].precio %></h2>
                    </div><!--/.portfolio-item-->
                    <% }%>
                </div>
                
            </div>


        </div>
    </section><!--/#portfolio-item-->

<%- include footer/footerFront.ejs%>